mixin footer()
    div.footer
        p
            | Copyright 2017 
            span.footer-name
                a(href="https://github.com/VictorAtanasov") Victor Atanasov   
            | &#124; All Rights Reserved 