include _nav-links

mixin nav()
    div.navigation
        div.desktop-menu
            +nav-links()
            
    div.mobile-menu
        a(href="/")
            img(src="/static/css/images/logo-sm.png", alt="logo-sm").logo-top
        <i class="fa fa-bars" aria-hidden="true"></i>
        div.sidenav
            <i class="fa fa-times closebtn" aria-hidden="true"></i>
            +nav-links()