mixin nav()
    ul
        li
            a(href="/")
                | Home
        //- li
        //-     a(href="/items")
        //-         | All items
        //- li
        //-     a(href="/items/form")
        //-         | Add item
        //- li
        //-     a(href="/Todos")
        //-         | All todos
        //- li
        //-     a(href="/todos/form")
        //-         | Add todo
        li
            a(href="/posts")
                | All posts
        li
            a(href="/posts/form")
                | Add post
        li
            a(href="/posts/categories")
                | All Post Categories
        if user
            p
                =user.username  
            form(action="/auth/sign-out" method="post")
                button.nav-btn
                    | sign-out                