.left .btn, .button {
  border: 1px solid #e4e4e4;
  padding: 5px 30px;
  margin-top: 20px; }
  .left .btn:hover, .button:hover {
    background: #e4e4e4; }
    .left .btn:hover a, .button:hover a {
      color: #ffffff; }
  .left .btn a, .button a {
    text-decoration: none;
    color: #555555;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px; }

.paralax, .form-paralax, .categories-paralax {
  height: 500px;
  overflow: hidden;
  background-image: url(./images/2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

.articles, .form-add-wraper, .categories-wraper {
  margin: 0 auto;
  margin-top: -100px;
  width: 75%;
  background: #ffffff;
  height: auto;
  overflow: auto; }

.navigation {
  width: 100%;
  text-align: center;
  position: fixed;
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  border-bottom: 1px solid #e4e4e4; }
  .navigation ul {
    margin: 0; }
  .navigation li {
    display: inline-block;
    padding: 16px 0;
    margin-right: 20px; }
  .navigation a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: #555555; }
    .navigation a:hover {
      color: #000000; }

.avatar {
  border: 1px solid #000000;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 10px; }
  .avatar img {
    width: 22px;
    height: 22px; }

.fa-angle-down {
  margin-left: 10px; }

.fa-user {
  font-size: 20px; }

.user-drop-down {
  display: inline-block;
  padding: 0;
  position: absolute; }
  .user-drop-down li {
    display: block; }

.hide {
  display: none; }

.user-name {
  cursor: pointer; }

.logo-wraper {
  height: 250px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo-wraper img {
    margin-top: 15px; }

.left {
  text-align: center;
  width: 75%;
  float: left;
  padding: 0 80px; }

.article {
  border-bottom: 1px solid #e4e4e4;
  padding: 30px 0 0 0;
  max-width: 833px;
  margin: 0 auto; }
  .article h2 {
    font-size: 28px; }
  .article img {
    max-width: 100%; }

.post-category {
  color: #b5b5b5;
  text-transform: uppercase;
  font-size: 12px; }

.post-title a {
  color: #000000;
  font-style: italic;
  text-decoration: none; }

.post-title:hover {
  text-decoration: underline; }

.post-author {
  color: #676767;
  font-size: 13px;
  margin-bottom: 20px; }

.italic {
  font-style: italic; }

.post-text {
  text-align: left;
  margin-top: 20px; }

.border {
  border-top: 1px solid #e4e4e4;
  width: 100%;
  margin-top: 20px; }

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px; }

.circle {
  margin-left: 20px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  padding: 3px; }
  .circle:hover {
    background: #555555;
    border: 1px solid #555555; }
    .circle:hover i {
      color: #ffffff; }
  .circle i {
    font-size: 17px; }

.right {
  width: 25%;
  float: right;
  text-align: center;
  padding: 35px 20px 0 0; }
  .right img {
    max-height: 300px;
    max-width: 260px;
    margin-top: 20px; }

.aside-wraper {
  max-width: 260px; }
  .aside-wraper .social {
    justify-content: center; }
  .aside-wraper .circle {
    background: #e4e4e4; }
    .aside-wraper .circle:hover {
      background: #555555; }

.border-dotted {
  border-top: 1px dotted #e4e4e4;
  width: 150px;
  margin: 0 auto; }

.author-info {
  margin: 0 auto; }
  .author-info p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 60px; }

.footer {
  width: 100%;
  margin-top: 20px;
  background: #1a1c27;
  display: flex;
  align-items: center;
  height: 70px;
  border-top: 1px solid #53545c;
  font-size: 13px; }
  .footer p {
    margin-left: 15px;
    color: #a1b1bc; }

.footer-name a {
  color: #ffffff; }

.page-bg {
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/log-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .page-bg #messages {
    position: absolute;
    top: 30%;
    left: 40%;
    text-transform: uppercase;
    font-weight: bold;
    color: #BA1010; }
    .page-bg #messages li {
      list-style-type: none; }

.logo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2; }

.form-wraper {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 20px; }
  .form-wraper p {
    color: #ffffff; }

.form {
  width: 400px; }
  .form input, .form textarea {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    height: 40px;
    width: 80%;
    position: relative;
    padding-left: 10px;
    padding-right: 5px; }
    .form input:focus, .form textarea:focus {
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form textarea {
    height: 90px;
    min-width: 80%;
    max-width: 80%;
    min-height: 70px; }

.input-wrapper {
  position: relative;
  margin-bottom: 15px; }
  .input-wrapper input, .input-wrapper textarea {
    color: #fff !important; }
  .input-wrapper input::-webkit-input-placeholder {
    color: #979797; }

.btn {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.8); }
  .btn:hover {
    color: #ffffff;
    background: transparent; }

.btn-file {
  background: rgba(255, 255, 255, 0.3); }

.hide {
  display: none; }

.button {
  width: 40%;
  border: 1px solid rgba(255, 255, 255, 0.4); }
  .button a {
    color: rgba(255, 255, 255, 0.4); }
  .button:hover {
    background: transparent; }

.post-image {
  text-align: center;
  max-width: 100%; }

.post-wraper {
  background: #ffffff;
  width: 70%;
  margin: 0 auto;
  padding: 50px 20px;
  margin-top: 50px;
  overflow: auto; }

.title-wraper {
  text-align: center; }

.post-border {
  border-top: 1px solid #555555;
  width: 200px;
  margin: 0 auto; }

.post {
  text-align: left;
  margin-top: 40px; }

.post-category-wraper {
  display: flex;
  align-items: flex-start; }

.post-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid #e4e4e4; }

.icons {
  display: flex; }

.post-category-name {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  background: #f5f5f5; }

.author-social {
  display: flex; }

.author-wraper {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e4e4e4;
  text-align: left; }

.author-image {
  border: 1px solid #ececec;
  float: left;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 8px;
  padding: 1px; }
  .author-image img {
    width: 80px; }

.author-social-wraper {
  background: #fcfcfc;
  padding: 5px;
  border: 1px solid #e4e4e4;
  border-top: none; }

.comment {
  overflow: auto;
  padding: 20px;
  text-align: left;
  margin-top: 35px;
  border-bottom: 1px solid #e4e4e4; }
  .comment img {
    width: 70px; }

.comment-date {
  font-style: italic;
  font-size: 12px; }

.comment-form-wraper {
  padding: 40px;
  margin-top: 40px;
  background: #f2f2f2; }
  .comment-form-wraper .input-wrapper textarea {
    color: #000000 !important; }
  .comment-form-wraper .form {
    width: auto; }
    .comment-form-wraper .form textarea {
      background: #ffffff; }
  .comment-form-wraper .btn {
    color: #000000;
    background: #e4e4e4; }
    .comment-form-wraper .btn:hover {
      background: #fcfcfc; }

.margin40 {
  margin-top: 40px; }

.margin-right-20 {
  margin-right: 20px; }

.form-paralax {
  height: 300px;
  background-image: url(./images/trousers.jpg); }

.form-add-wraper {
  text-align: center; }

.post-form-wraper {
  padding: 40px;
  margin-top: 40px; }
  .post-form-wraper input, .post-form-wraper textarea {
    border: 1px solid #e4e4e4; }
  .post-form-wraper .form {
    width: auto; }
  .post-form-wraper .btn {
    color: #000000;
    background: #f2f2f2; }
    .post-form-wraper .btn:hover {
      background: #e4e4e4; }

.categories-paralax {
  height: 300px;
  background-image: url(./images/woods.jpg);
  background-position: bottom center; }

.categories-wraper a {
  color: #000000; }

.categories-wraper .left {
  margin-bottom: 30px; }

body {
  color: #555555;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background: #f2f2f2; }

h2, h3, h4 {
  font-family: "Architects Daughter", cursive;
  color: #000000; }
