.logo-wraper
    height: 250px
    background: #f2f2f2
    filter: greyscale(20%)

.paralax
    height: 400px
    overflow: hidden

    background:
        image: url(./images/2.jpg)
        size: auto
        attachment: fixed
        position: center top
