.mobile-menu
    display: none
    position: fixed
    width: 100%
    background: rgba(255, 255, 255, 0.5)
    .logo-top
        width: 26px
        margin: 5px 10px

.desktop-menu
    display: flex
    align-items: center
    justify-content: center

.navigation
    width: 100%
    text-align: center
    position: fixed
    background: #ffffff
    font-family: $nav-font-stack
    z-index: 999
    border-bottom: 1px solid $border-color
    ul
        margin: 0
        
    li
        display: inline-block
        padding: 16px 0
        margin-right: 20px
    a
        font-size: 12px
        text-transform: uppercase
        letter-spacing: 3px
        text-decoration: none
        color: $primary-color
        &:hover
            color: $black
    .btn
        @extend %btn
        margin-top: 0
        background: none
        color: $black
        &:last-of-type
            margin-left: 10px

.logo-top
    width: 40px

.avatar
    border: 1px solid #000000
    border-radius: 50%
    width: 27px
    height: 27px
    display: inline-flex
    align-items: center
    justify-content: center
    overflow: hidden
    margin-right: 10px
    img
        width: 22px
        height: 22px

.fa-angle-down
    margin-left: 10px

.fa-user
    font-size: 20px

.user-drop-down
    position: absolute
    margin-top: 16px
    padding: 10px 40px 10px 0
    background: $white
    li
        display: block
        margin-right: 0


.hide
    display: none

.user-name
    cursor: pointer
        
.sidenav
    height: 100%
    width: 0
    position: fixed
    z-index: 1
    top: 0
    right: 0
    background-color: $black
    overflow-x: hidden
    transition: 0.5s
    padding-top: 60px
    opacity: 0.9
    li
        margin-bottom: 15px
        list-style-type: none
    a
        color: $white
        text-decoration: none
        transition: 0.3s
        font-size: 20px
        &:hover
            color: #feae00 !important
    .logo-top
        display: none
    .avatar
        width: 30px
        height: 30px
        display: block
        margin: 0 auto
        img
            width: 30px
            height: 30px

.closebtn
    color: #ffffff
    position: absolute
    top: 10px
    right:  25px
    font-size: 26px !important
   

.fa-bars
    float: right
    font-size: 22px !important
    margin: 5px 10px