.post-image
    text-align: center
    max-width: 100%

.post-wraper
    background: $white
    width: 70%
    margin: 0 auto
    padding: 50px 20px
    margin-top: 50px
    overflow: auto

.title-wraper
    text-align: center

.post-border
    border-top: 1px solid $primary-color
    width: 200px
    margin: 0 auto

.post
    text-align: left
    margin-top: 40px

.post-category-wraper
    display: flex
    align-items: flex-start

.post-social
    display: flex
    align-items: center
    justify-content: space-between
    padding: 30px
    border-bottom: 1px solid $border-color

.icons
    display: flex

.post-category-name
    text-transform: uppercase
    font-size: 12px;
    padding: 10px
    background: #f5f5f5

.author-social
    display: flex

.author-wraper
    margin-top: 20px
    padding: 20px
    border: 1px solid $border-color
    text-align: left

.author-image
    border: 1px solid #ececec
    float: left
    margin-right: 20px
    overflow: hidden
    border-radius: 8px
    padding: 1px
    img
        width: 80px

.author-social-wraper
    background: $snow
    padding: 5px
    border: 1px solid $border-color
    border-top: none

.comments-wrapper

.comment
    overflow: auto
    padding: 20px
    text-align: left
    margin-top: 35px
    border-bottom: 1px solid $border-color
    img
        width: 70px

.comment-date
    font-style: italic
    font-size: 12px