@import 'vars'
@import 'placeholders'
@import 'partials/nav'
@import 'partials/home'
@import 'partials/footer'
@import 'partials/auth-sign'
@import 'partials/post-details'
@import 'partials/form'


body
    color: $primary-color
    font-family: $primary-font-stack
    font-size: $primary-font-size
    margin: 0
    padding: 0
    background: $body-background

h2, h3
    font-family: $headers-font-stack
    color: $black

