$nav-font-stack: 'Montserrat', sans-serif
$primary-font-stack: 'Karla', sans-serif
$headers-font-stack: 'Architects Daughter', cursive
$primary-color: #555555
$primary-font-size: 15px
$black: #000000
$white: #ffffff
$snow: #fcfcfc
$border-color: #e4e4e4
$body-background: #f2f2f2

