extends ../_shared/_master
block body
    //each post in context
    div.body-wraper
        div.logo-wraper
            img(src="../static/css/images/logo.png", alt="")
        div.post-image
            img(src="/static/uploads/" + context.details[0].uuid + "/file/" + context.details[0].filename, alt="")
        div.post-wraper
            div.left
                div.title-wraper
                    h2
                        =context.details[0].title
                    div.post-border
                div.post
                    p
                        =context.details[0].text
                div.border
                    div.post-social
                        span
                            span.post-category-name
                                =context.details[0].category
                        span.icons
                            span.circle
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            span.circle
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            span.circle
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                div.author-wraper
                    div.author-image
                        img(src="/static/uploads/" + context.author.uuid + "/file/" + context.author.filename, alt="")
                    div.author
                        h4
                            =context.author.username
                        p
                            =context.author.bio
                div.author-social-wraper
                    div.author-social
                        span.circle
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        span.circle
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        span.circle
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        span.circle
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        span.circle
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>

                
                div.comments-wrapper
                    h3
                        | Comments
                    div.post-border

                    if context.details[0].comments
                        each comment in context.details[0].comments
                            div.comment
                                div.author-image
                                    if comment.comment.filename
                                        img(src="/static/uploads/" + comment.comment.uuid + "/file/" + comment.comment.filename, alt="")
                                    else
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                h4
                                    =comment.comment.user
                                p.comment-date
                                    =comment.comment.date
                                p
                                    =comment.comment.text
                            

                
                form(action="/posts/comment", method="POST")
                    input(type="text" name="text" required placeholder="Enter text")
                    br
                    input(type="hidden" name="id" value=context.details[0]._id)
                    br
                    button
                        | Save

