extends ../_shared/_master

block head
    script(src="/libs/bootstrap-3-typeahead/bootstrap3-typeahead.min.js")
    script(src="/static/js/posts.js")
    
block body
    if user
        form(action="/posts", method="POST", enctype="multipart/form-data" )
            input(type="text" name="title" required placeholder="Enter title")
            br
            input(type="text" name="text" required placeholder="Enter text")
            br
            input#autocomplete(type="text" name="category" required placeholder="Enter category")
            br
            input(type="file" name="file")
            button
                | Save
    else
        p
            | Only registered users can add new posts