extends ../_shared/_master
block head
    script(src="https://rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js")
    link(rel="stylesheet", href="/libs/typeahead/style.css")
    script(src="/static/js/todos.js")

block body
    //- != messages()

    form(action="/todos", method="POST")
        input(type="text" name="text" required placeholder="Enter text")
        input(type="checkbox" name="isDone")
        br
        input#autocomplete(name="category")
        br
        button.btn.btn-success
            | Save